*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
    min-height: 100vh;
    display: flex;
    
}

.container{
    margin: auto;
    width: 500px;
    max-width: 90%;
}
.container form{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 50%); ;
    width: 100%;
    height: 100%;
    padding: 88px;
    border-radius: 70px;
    box-shadow: 0 9px 19px ivory;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.container form h1{
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 24px;
    color: #00ffe2;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor:context-menu;
}
.container form .logInsection{
    width: 100%;
}
.container form label{
    color: white;
    word-spacing: 5px;
}
.logIn{
    width: 90%;
    border: 1px solid;
    border-radius: 24px;
    padding: 6px;
}
.passWord{
    width: 90%;
    border: 1px solid;
    border-radius: 24px;
    padding: 6px;
}

.container form .btn{
    background: none;
    color: #00ffe2;
    width: 100px;
    text-align: center;
    height: 27px;
    outline: none;
    margin-left: 34%;
    border-radius: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    top: 18px;
    cursor: pointer;
}
.p{
    color: white;
    text-decoration: none;
   
}
.p a{
   color: white;
}

.home a{
    color: white;
    display: flex;
    margin-top: 10%;
}